[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5 # Set to a non-zero value
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -16 	# Set actual offset relative to nozzle
y_offset: 11.5 	# Set actual offset relative to nozzle
;data_rate: 500     # deprecated

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2